<!DOCTYPE html>
<html>
<head>
  <!-- Set the title of the page, dynamically using the shopName variable -->
  <title>
    <%= shopName %>
  </title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <!-- Display a heading with the shopName variable -->
  <h1> Bargains from <%= shopName %>
  </h1>
  <p> Check our lowest prices!</p>

  <!-- Use a for loop to iterate over availableBooks and display each book as a list item -->
  <!-- book is a internal variable -->
  <ul>
    <% for(let book of availableBooks) { %>
      <!-- Display book details, including id, name, and price -->
      <li>
        <%= book.id %>
          <%= book.name %>, £ <%= book.price %>
      </li>
      <% } %>
  </ul>

</body>
</html>